<div class="modal-content component-FirstTimeLoginModalCtrl">
  <div class="modal-header">
    <button type="button" class="close" ng-click="firstTimeLoginModal.cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Tips #{{ firstTimeLoginModal.currentStep }} of 3</h4>
  </div>
  <div class="modal-body">
    <div ng-if="firstTimeLoginModal.currentStep === 1">
      <div>
        <p>Step 1</p>
      </div>
    </div>

    <div ng-if="firstTimeLoginModal.currentStep === 2">
      <div>
        <p>Step 2</p>
      </div>
    </div>

    <div ng-if="firstTimeLoginModal.currentStep === 3">
      <h3>Congratulation! Enjoy using Lamplight !</h3>

      <br/>

      <p>You can always refer our <a href="">FAQ</a> and <a href="">User Manual</a> for more information.</p>
    </div>
  </div>
  <div class="modal-footer">
    <div class="pull-left">
      <button type="button" class="btn btn-default" ng-click="firstTimeLoginModal.previousStep()" ng-if="firstTimeLoginModal.currentStep !== 1">Back</button>
    </div>
    <button type="button" class="btn btn-primary" ng-click="firstTimeLoginModal.nextStep()">{{ firstTimeLoginModal.stepButtonLabel() }}</button>
    <button type="button" class="btn btn-default" ng-click="firstTimeLoginModal.cancel()" ng-if="firstTimeLoginModal.currentStep !== 3">Skip</button>
  </div>
</div><!-- /.modal-content -->
