<div class="page">

  <div class="divider"></div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <strong><span class="glyphicon glyphicon-th"></span>{{ 'users.dashboards.field.newDashboard' | translate }} </strong>
    </div>
    <div class="panel-body">

      <div class="alert alert-danger" ng-if="createDashboardForm.$submitted &amp;&amp; createDashboardForm.$invalid">
        <ng-messages
          for="createDashboardForm.newDashboardName.$error" ng-if="createDashboardForm.newDashboardName.$invalid">
          <p ng-message="required">
            <div>{{ 'users.dashboards.field.provideNewDashboardName' | translate }}</div>
          </ng-message>
        </ng-messages>
        <ng-messages
          for="createDashboardForm.newDashboardTemplate.$error" ng-if="createDashboardForm.newDashboardTemplate.$invalid">
          <p ng-message="required">
            <div>{{ 'users.dashboards.field.selectTemplateForNewDashboard' | translate }}</div>
          </ng-message>
        </ng-messages>
      </div>

      <form novalidate name="createDashboardForm" ng-submit="usersDashboardNew.createDashboard()">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="">{{ 'users.dashboards.field.name' | translate }}</label>
              <i class="ti-help-alt" tooltip-placement="right" tooltip="{{ 'users.dashboards.field.name' | translate }}" tooltip-append-to-body="true"></i>
              <input autofocus name="newDashboardName" type="text" class="form-control ng-pristine" required="" data-ng-model="usersDashboardNew.dashboard.name">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="">{{ 'users.dashboards.field.searches' | translate }}</label>
              <i class="ti-help-alt" tooltip-placement="right" tooltip="{{ 'users.dashboards.field.location' | translate }}" tooltip-append-to-body="true"></i>

              <br/>

              <div class="row">
                <div class="col-md-12" ng-repeat="search in usersDashboardNew.allSearches">
                  <label class="ui-checkbox dashboard-checkbox">
                    <input type="checkbox" name="search" ng-model="usersDashboardNew.dashboard.searches[search.id]" ng-value="search.id" ng-required="!usersDashboardNew.selectedAtLeastOneSearch()"><span>{{ search.name }}</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="">{{ 'users.dashboards.field.template' | translate }}</label>
              <i class="ti-help-alt" tooltip-placement="right" tooltip="{{ 'users.dashboards.field.dashBoardtemplate' | translate }}" tooltip-append-to-body="true"></i>

              <br/>

              <span class="ui-select">
                <select name="newDashboardTemplate" ng-model="usersDashboardNew.dashboard.template" ng-options="template as template.name for template in usersDashboardNew.allTemplates" required="">
                  <option value="">--- {{ 'users.dashboards.field.selectOne' | translate }} ---</option>
                </select>
              </span>
            </div>
          </div>
        </div>

        <input type="submit" value="{{ 'users.dashboards.field.create' | translate }}" class="btn btn-primary" ng-disabled="createDashboardForm.$invalid">
      </form>
    </div>
  </div>
</div>
