<div ui-view></div>

<div class="container">
  <div class="footer-links">
    <div class="pull-right">
      <ul class="list-unstyled">
        <li class="dropdown langs text-normal" dropdown is-open="status.isopenLang">
          <a href="javascript:;" class="dropdown-toggle  dropdown-toggleactive-flag" dropdown-toggle data-toggle="dropdown">
            {{ publicBase.language.name }} <span class="caret"></span>
          </a>
          <ul class="dropdown-menu with-arrow pull-right" role="menu">
            <li data-ng-show="publicBase.language !== language.locale" data-ng-repeat="language in publicBase.allLanguages">
              <a href="javascript:;" data-ng-click="publicBase.setLanguage(language)">
                {{ language.name }}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- ClickDesk Live Chat Service for websites -->
<script type='text/javascript'>
var _glc =_glc || []; _glc.push('all_ag9zfmNsaWNrZGVza2NoYXRyDwsSBXVzZXJzGKus-b4KDA');
var glcpath = (('https:' == document.location.protocol) ? 'https://my.clickdesk.com/clickdesk-ui/browser/' :
'http://my.clickdesk.com/clickdesk-ui/browser/');
var glcp = (('https:' == document.location.protocol) ? 'https://' : 'http://');
var glcspt = document.createElement('script'); glcspt.type = 'text/javascript';
glcspt.async = true; glcspt.src = glcpath + 'livechat-new.js';
var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(glcspt, s);
</script>
<!-- End of ClickDesk -->
